:root{
    --principal_color: #3f3e47;
    --principal_color_ligth: #afacc5;
    --principal_color_dark: #36353d;
    --secondary_color: #faf9f9;

    --metal_color_titanium: #545b62;
    --metal_color_bronce: #554a3c;
    --metal_color_tungsten: #9f9586;
    --metal_color_gunmetal: #b76e79;
    --metal_color_coldsteel: #262335;

    --text_color_principal: #bac3cf;
    --text_color_sercondary: #c9cfba;
    --text_color_tird:#678ab8;

    --border_color:#e64a69;
    color: #ff000000;
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Readex Pro', sans-serif;
    overflow-x: hidden;
}
/*//////////////////////head////////////////////////*/
header{
    background-color: var(--principal_color);
    width: 100vw;
    height: auto;
    border-bottom: var(--color1);
    display: flex;
    justify-content: center;
}
header div{
    width: 90%;
    display: flex;
    flex-direction: row;
}
header div p{
    font-size: 3rem;
    margin-left: 1rem;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 20vw;
    color: var(--text_color_principal);
}
header div ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: end;
    align-items: center;
}
header div ul li{
    font-size: 1.5rem;
    margin-right: 20px;
    color: var(--principal_color_ligth);
}
header div ul li:hover{
    color: crimson;
    text-decoration: underline;
    cursor: pointer;
}
header div ul li p{
    width: fit-content;
    font-size: 1.5rem;
    margin-right: 20px;
    color: var(--border_color);
}
header div ul li p:hover{
    color: crimson;
    text-decoration: underline;
    cursor: pointer;
}
/*//////////////////////main////////////////////////*/
main{
    display: flex;
    background-color: var(--secondary_color);
    width: 100%;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 6rem;
    color: var(--text_color_sercondary);
}
h2{
    font-size: 4rem;
    color: var(--text_color_tird);
}
h3{
    font-size: 3rem;
    color: var(--color2);
}
p{
    font-size: 1.6rem;
    color: var(--text_color_principal);
}
/*//////////////////////principal////////////////////////*/

.intro{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}
.introduccion{
    display: flex;
    flex-direction: column;
    border-bottom: var(--color1) solid;
}
.nombre{
    margin-top: 3rem;
    padding: 0.1rem;
    color: var(--principal_color_dark);
}
.apellido{
    position: relative;
    bottom: 2rem;
}
/*//////////////////////about////////////////////////*/
.about{
    background-color: var(--principal_color);
    width: 100vw;
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px ;
    padding-bottom: 20px;
}
.about div{
    width: 80%;
    display: flex;
    flex-direction: row;
}
.about div img{
    height: 250px;
    border-radius: 5px;
}
.about div .contend{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.card{
    background: -webkit-linear-gradient(-45deg,var(--metal_color_tungsten) 0%, #ff000000 100%);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    margin: 20px;
}
.card ul{
    list-style: none;
    margin: 5px;
}
.card ul li{
    display: flex;
}
.strong{
    font-weight: 700;
    padding-right: 5px;
}
/*//////////////////////services////////////////////////*/
.services{
    background-color: var(--principal_color_dark);
    width: 100%;
    display: flex;
    justify-content: center;
}
.services div{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.services div h2{
    width: 100%;
    display: flex;
}
.services .card{
    width: 450px;
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.card .title{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.card .title .strong{
    height: 30px;
    width: auto;
    font-size: 2rem;
}
.card .value{
    width: fit-content;
    background-color: var(--metal_color_coldsteel);
    padding: 5px;
    border-radius: 5px;
}
.card .fill{
    margin-bottom: 10px;
}
.card ul{
    color: var(--text_color_principal);
    font-size: 1.2rem;
}
#card_1{
    background: -webkit-linear-gradient(-45deg,var(--metal_color_titanium) 0%, #ff000000 100%);
}
#card_3{
    background: -webkit-linear-gradient(-45deg,var(--metal_color_gunmetal) 0%, #ff000000 100%);
}

/*//////////////////////services////////////////////////*/
.contenido{
    font-size: var(--tamañoLetra);
    padding: 3rem;
}
.experiencia{
    background-color: #4e4e4e;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    width: 100vw;
    border-bottom: var(--color1) solid;
}
.experiencia p{
    font-size: var(--tamañoLetra);
}
.experiencia div{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.experiencia div h4{
    padding-left: 1rem;
}
.educacion{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-bottom: var(--color1) solid;
}
.educacion h2{
    font-size: 3rem;
}
.educacion h3{
    font-size: 2rem;
}
.galeria{
    display: flex;
    flex-direction: column;
    border-bottom: var(--color1) solid;
    background-color: #4e4e4e;
}
.galeria h1{
    padding:3rem;
}
.galeria picture img{
    margin-left: 2rem;
    width: 90vw;
    height: 90vw;
    object-fit: cover;
    border: var(--color1) solid;
    border-radius: 2rem;
}
.galeria picture h3{
    display: flex   ;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 8rem;
}
.habilidades{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-bottom: var(--color1) solid;
}
.habilidades ul{
    padding-top: 3rem;
    padding-left: 2rem ;
    font-size: var(--tamañoLetra);
}
.habilidades li{
    color: #bac3cf;
}
.estudios_a{
    background-color: #4e4e4e;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-bottom: var(--color1) solid;
}
.estudios_a h2{
    font-size: 3rem;
}
.estudios_a h3{
    font-size: 2rem;
}
.estudios_a a{
    color: blueviolet;
    padding: 0.7rem 0;
}
.intereses{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-bottom: var(--color1) solid;
}
.intereses p{
    font-size: 1.8rem;
}
iframe{
    width: 90vw;
    height: 80vh;
}

