.galeria{
    display: flex;
    flex-flow:  wrap;
    width: 100vw;
    border-bottom: var(--color1) solid;
}
.galeria h1{
    width: 100vw;
}

.galeria picture img{
    margin-left: 2rem;
    width: 45vw;
    height: 45vw;
    object-fit: cover;
    border: var(--color1) solid;
    border-radius: 2rem;
}
.galeria picture h3{
    margin-bottom: 8rem;
    margin-left: 2rem;
    width: 40vw;
}
.galeria .gif img{
    width: 80vw;
    height: 80vw;
    margin: 0rem 10vw;    
}
.galeria .gif h3{
    margin-bottom: 8rem;
    width: 40vw; 
    margin-left:  30vw; 
}